.page-wrap {
    overflow: hidden;
    position: relative;
}

.bg-element-gray {
    max-width: 665px;
    max-height: 95px;
    background-color: $light2;
    border-radius: 50vw;
    margin-bottom: 20px;
    width: 15vw;
    height: 4vw;
}

.bg-element-colored {
    max-width: 495px;
    max-height: 70px;
    border-radius: 50vw;
    width: 11vw;
    height: 2.5vw;
}

.bg-elements {
    z-index: -1;
    position: absolute;

    &.bg-elements-primary {
        .bg-element-colored {
            background-color: $primary;
        }
    }

    &.bg-elements-blue {
        .bg-element-colored {
            background-color: $blue2;
        }
    }

    &.bg-elements-blue-light {
        .bg-element-colored {
            background-color: $blue-light;
        }
    }

    &.left {
        left: -5vw;
        transform: rotate(30deg);

        .bg-element-colored {
            margin-right: 10vw;
        }
    }

    &.right {
        right: -5vw;
        transform: rotate(-30deg);

        .bg-element-colored {
            margin-left: 5vw;
        }
    }
}

.home-page {
    .bg-elements {
        &.left-1 {
            top: 10%;
        }

        &.right-1 {
            top: 15%;
        }

        &.left-2 {
            top: 58%;
        }

        &.right-2 {
            top: 65%;
        }

        &.left-3 {
            top: 72%;
        }

        &.right-3 {
            top: 79%;
        }
    }
}

.features-page {
    .bg-elements {
        &.left-1 {
            top: 17%;
        }

        &.right-1 {
            top: 23%;
        }

        &.left-2 {
            top: 30%;
        }

        &.right-2 {
            top: 36%;
        }

        &.left-3 {
            top: 43%;
        }

        &.right-3 {
            top: 50%;
        }
    }
}

@include media-breakpoint-down(md) {
    .bg-elements {
        display: none;
    }
}