// Product icons
/////////////////
/////////////////
.product-icon {
    background-image: url("../images/product-sprite.png");
    display: inline-block;
    width: 100px;
    height: 100px;
}

.product-icon-1 {
    background-position: 0px -0px !important;
}

.product-icon-2 {
    background-position: -100px -0px !important;
}

.product-icon-3 {
    background-position: -200px -0px !important;
}

.product-icon-4 {
    background-position: -300px -0px !important;
}

.product-icon-5 {
    background-position: -400px -0px !important;
}

.product-icon-6 {
    background-position: -500px -0px !important;
}

.product-icon-7 {
    background-position: -600px -0px !important;
}

.product-icon-8 {
    background-position: -700px -0px !important;
}

.product-icon-9 {
    background-position: -800px -0px !important;
}

// Feature icons
//////////////
//////////////

.feature-icon {
    background-image: url("../images/features-sprite.png");
    width: 80px;
    height: 80px;
    display: inline-block;
}

.feature-icon-1 {
    background-position: 0px -0px;
}

.feature-icon-2 {
    background-position: -80px -0px;
}

.feature-icon-3 {
    background-position: -160px -0px;
}

.feature-icon-4 {
    background-position: -240px -0px;
}

.feature-icon-5 {
    background-position: -320px -0px;
}

.feature-icon-6 {
    background-position: -400px -0px;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "#{$icomoon-font-family}" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-circle-down {
    &:before {
        content: $icon-arrow-circle-down;
    }
}

.icon-checkmark-circle {
    &:before {
        content: $icon-checkmark-circle;
    }
}

.icon-checkmark-outline {
    &:before {
        content: $icon-checkmark-outline;
    }
}

.icon-email {
    &:before {
        content: $icon-email;
    }
}

.icon-star {
    &:before {
        content: $icon-star;
    }
}