/* Bootstrap theme customized with Pinegrow Web Editor */
/* Vars go before the @import */
/* Import the Bootstrap files */

// Brand Colors
$blue: #0068fc;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fbb325;
$yellow: #f8ec00;
$green: #00aa2d;
$teal: #20c997;
$cyan: #40b7fd;
$white: #fff;
$gray-100: #f6f8ff;
$gray-200: #E2EEFF;
$gray-300: #dee2e6;
$gray-400: #DBDBDB;
$gray-500: #c3c6cf;
$gray-600: #989eb2;
$gray-700: #495057;
$gray-800: #5b6482;
$gray-900: #434f78;
$gray-1000: #151C26;
$gray-1100: #2A3748;


$blue-light: #01E3FB;
$blue2:      #40B7FD;
$cyan2:      #2DE8FC;
$light2:     #F3F3F3;




$box-shadow: #00255A;

$grays: ();
// stylelint-disable-next-line scss/dollar-variabl
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$colors: ();
// stylelint-disable-next-line scss/dollar-variabl
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-900,
    "blue-light": $blue-light
  ),
  $colors
);

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;
$text-muted:    $gray-500;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variabl
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark,
    "orange":     $orange,
    "yellow":     $yellow,
    "white":      $white,
    "gray-dark":  $gray-900,
    "gray-dark-2": $gray-1100,
    "gray-light": $gray-200,
    "blue-light": $blue-light,
    "blue2":      $blue2
  ),
  $theme-colors
);




$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6)
  ),
  $spacers
);


$font-size-base:                    1rem;
$font-family-sans-serif:            'fonts' ,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight:              bold;
$body-color:                        $gray-800;
$headings-color:                    $gray-900;
$headings-line-height:              1.5;
$font-size-lg:                      $font-size-base * 1.125;
$navbar-light-color:                $gray-900;
$navbar-light-hover-color:          $primary;
$navbar-light-active-color:         $primary;
$navbar-nav-link-padding-x:         1.25rem;
$nav-link-padding-x:                2rem;
$link-decoration:                   text-underline;
$border-radius:                     0.5rem;
$border-color:                      $gray-400;



$navbar-padding-y:                  1rem;
$navbar-light-toggler-border-color:  transparent;
$navbar-light-toggler-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$primary}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2.8' d='M5,7h20 M2,15h26 M5,23h20'/></svg>");
// Section

$section-padding-y: 7.5rem;

@media screen and (max-width: 767px) {
  $section-padding-y: 2.5rem;
}


// Buttons

$input-btn-padding-y:               0.75rem;
$btn-box-shadow:                    null;
$btn-border-radius:                 5rem;
$btn-border-radius-lg:              5rem;
$input-btn-padding-y-lg:            .875rem;
$input-btn-border-width:            2px;
// Box Shadow

$card-border-color:                 $gray-300;

$box-shadow-sm:               0 .1875rem .625rem rgba($box-shadow, .15);
$box-shadow:                  0 .3125rem 1.875rem rgba($box-shadow, .10);

// Heading 

$h-sup-font-size:             $font-size-base * 0.875;
$h6-font-size:                $font-size-base * 1.125;
// Icons



@media screen and (max-width: 992px) {
  $navbar-nav-link-padding-x: 20rem;
}


$icomoon-font-family: "icons";
$icomoon-font-path: "../fonts/icons";

$icon-arrow-circle-down: "\e900";
$icon-checkmark-circle: "\e901";
$icon-checkmark-outline: "\e902";
$icon-email: "\e903";
$icon-star: "\e904";

@import "bootstrap/bootstrap";
@import "icons";
@import "fonts";
@import "bg-elements";



/* Custom CSS rules come here */

.bg-gradient {
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

.h-sup {
    font-family: "fonts2";
    color: $primary;
    text-transform: uppercase;
    position: relative;
    font-size: $h-sup-font-size;
    display: inline-block;
    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        left: 0;
        border-radius: 30px;
        top: 100%;
        @include gradient-x-three-colors(
            rgba($blue-light, 0.1),
            rgba($blue-light, 0.2),
            40%,
            rgba($blue-light, 0.6)
        );
    }

    &.secondary {
        color: $yellow;
        &:after {
            @include gradient-x($blue2, $blue-light, 0%, 130%);
        }
    }

    &.h-sup-normal {
        color: inherit;
        &:after {
            content: none;
        }
    }
}

.navbar {
    font-weight: $font-weight-normal;

    a {
        text-decoration: none;
    }
}

.toc-wrap {
    a {
        text-decoration: none !important;
        color:$primary;
        display: inline-block;
    }


}

.logo {
    height: 2.75rem;
}



.btn-outline-white {
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:focus {
        color: $primary;
    }
}

.btn-white {
    color: $primary;
    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:focus {
        color: $primary;
    }
}

section {
    padding: $section-padding-y 0;
}

.sect-hero {
    padding-top: 6rem;
    position: relative;
    overflow: hidden;

    .btn {
        margin-top: map-get($spacers, 5);
    }
}

.bg-primary {
    @include gradient-y($primary, $cyan2, 40%, 115%);
}

.bg-primary {
    position: relative;

    .container {
        z-index: 2;
        position: relative;
    }
    &:after {
        content: "";
        background-image: url("../images/bg-1.svg");
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    &:before {
        content: "";
        background-image: url("../images/bg-2.svg");
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
    }

    &:before,
    &:after {
        background-position: -210px 87%;
        z-index: 0;
    }

    &:before {
        background-position: 150px 65%;
    }

    .btn {
        margin-top: map-get($spacers, 5);
    }

    &.sect-hero {
        &:after {
            background-position: 0px;
        }

        &:before {
            background-position: 100%;
        }
    }
}

.sect-preview {
    background-color: $gray-1100;
}

.hero-img {
    position: relative;
    left: 30%;
}

.hero-bg {
    position: absolute;
    top: -4vw;
    right: 0;
    width: 50%;
}

.hero-img2 {
    margin-bottom: -11%;
}
h1 {
    margin-bottom: map-get($spacers, 4);

    & + h6 {
        font-weight: $font-weight-normal;
        color: $gray-800;
        margin-bottom: map-get($spacers, 4);
    }
}
h2 {
    margin-bottom: map-get($spacers, 3);
    & + h6 {
        font-weight: $font-weight-normal;
        color: $gray-800;
        margin-bottom: 0;
    }
}

header {
    position: relative;
    z-index: 1;
    box-shadow: $box-shadow-sm;
}

.product-icon {
    margin-bottom: map-get($spacers, 3);
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
}

.card {
    box-shadow: $box-shadow;
}

.sect-reviews {
    background-color: $gray-100;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &:after {
        content: "";
        background: url("../images/pattern.png") repeat;
        background-repeat: repeat-y repeat-x;
        position: absolute;
        width: 200%;
        height: 200%;
        top: -50%;
        left: -50%;
        z-index: -1;
        transform: rotate(-210deg);
    }
    .card {
        border-width: 0;
    }
}

.table-responsive {
    table {
        min-width: 600px;
    }
}

footer {
    padding: $section-padding-y / 2 0;
    // padding-bottom: map-get($spacers, 4);
    background-color: $gray-1000;

    a {
        color: $white;
        @include transition($transition-base);
        text-decoration: none;
        &.active {
            color: $blue-light;
        }
        &:hover,
        &:focus {
            color: $blue-light;
            text-decoration: none;
            @include transition($transition-base);
        }
    }
}

.carousel {
    // margin-top:map-get($spacers, 5);
    border-radius: $border-radius;
}
.thumb {
    padding: 0.5rem;
    border-radius: $border-radius;
    @include transition($transition-base);
    &:hover  {
        opacity:0.8;
        cursor:pointer;
        @include transition($transition-base);
    }
    img {
        border: 4px solid transparent;
    }
    &.selected {
        img {
            border: 4px solid $blue-light;
            border-radius: $border-radius;
        }
    }
}

.toc-wrap {
    .card-header {
        border-width: 0px;
    }

    a {
        &:hover {
            text-decoration: none;
        }
    }
    .list-group {
        li {
            border-width: 0px;
        }
    }
}

@include media-breakpoint-down(lg) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .hero-bg {
        top: -4vw;
        right: 0;
        width: 55%;
    }
}

@include media-breakpoint-down(md) {
    .hero-bg {
        top: -18%;
        right: -50%;
        width: 140%;
    }

    .hero-img {
        position: relative;
        left: 34%;
        width: 60%;
    }

    .sect-why,
    .sect-contact {
        img {
            margin-bottom: map-get($spacers, 4);
            width: 50%;
        }
    }
}

@include media-breakpoint-down(sm) {
    .hero-bg {
        width: 130%;
        top: -10%;
    }

    .btn {
        display: block;
        width: 100%;
    }

    footer {
        .list-group {
            a {
                display: inline-block;
                padding: 0.25rem 0;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .hero-bg {
        width: 140%;
        top: -3%;
    }
}
